html, body {
    font-family: sans-serif;
    background-color: burlywood;
    color: darkred;
}

.score {
    font-size: 6vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modes {
    display: flex;
}

#mode, #invert {
    font-size: 6vh;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 0.5em;
    background-color: aliceblue;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    height:40vh;
    width:40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question[data-language = "kana"] {
    font-size: 40vh;
}

.question[data-language = "romaji"] {
    font-size: 30vh;
}

.answers{
    display: flex;
    align-items: center;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.answer {
    height: 10vh;
    width: 10vh;
    font-size: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2em 0.2em 0.2em 0.2em;
    border-radius: 20%;
}

.answer[data-correct = "false"] {
    background-color: black;
    color: white;
}

.answer:hover, #mode:hover, #invert:hover {
    cursor: pointer;
}